*
{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway' !important;
    font-size: 16px;
    color: white;
}

.navbar-inverse{
    background-color: black;
    border-radius: 0px;
    margin-bottom: 0px;
}

.navbar-right{
    margin-right: 0px;
}

.navbar-brand{
    padding-left: 8rem;
}

.btn-dark{
    background-color: #000000;
}

.jumbotron {
    background-image: url("../assets/wave.svg");
    background-color: white;
    border-radius: 0px;
    height: 85vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 0rem 8rem;
}

.jumbotron img{
    width: 600px;

}

.btn-secondary {
    color: rgba(0,0,0,.9);
    background-color:transparent;
    border-color: transparent;
    
}

.btn-secondary:hover{
    color: rgba(0,0,0,.9);
    background-color:transparent;
    border-color: transparent;
}

.featurette-heading{
    padding-left: 15px;
    align-items: center;
    color: #000;
    font-size: 50px;
}

.lead-featurette{
    padding-left: 15px;
    color: rgb(133, 133, 133);
    font-size: 20px;
}

.jumbotron li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}
.jumbotron li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}
.jumbotron li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}
.jumbotron li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}
.jumbotron li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}
.jumbotron li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}
.jumbotron li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}
.jumbotron li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}
.jumbotron li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}
.jumbotron li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}
.jumbotron li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}
@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

h4{
color: #000000;
text-align: center;
}

.container{
    padding-left: 4rem;
    padding-right: 4rem;
}

.service-description{
    color:rgb(133, 133, 133);
    text-align: left;
    white-space: normal;
    padding-top: 1rem;
}

.Section-2-heading{
    color: #000000;
    text-align: center;
    
}

.services{
    padding-top: 2rem;
}