*
{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway' !important;
    font-size: 16px;
    color: white;
}

.navbar-inverse{
    background-color: black;
    border-radius: 0px;
    margin-bottom: 0px;
}

.navbar-right{
    margin-right: 0px;
}

.navbar-brand{
    padding-left: 50px;
}

.jumbotron {
    background-image: url("../assets/wave.svg");
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 50px;
}

.jumbotron p{
    width: 50%;
    font-size: 18px;
}    

